.discover-main {
    -fx-background-color: #E4E8F0;
    -fx-background-radius: 20;
}

.category-chooser {
    -fx-padding: 20 20 20 20;
    -fx-background-color: transparent;
}

.category-header {
    -fx-font-family: "Varela Round";
    -fx-font-size: 30;
    -fx-text-fill: #7E8A95;
}

.category-option {
    -fx-background-color: transparent;
    -fx-font-family: "Varela Round";
    -fx-font-size: 20;
    -fx-text-fill: #7E8A95;
}

.category-option-icon {
    -fx-font-family: FontAwesome;
    -fx-font-size: 20;
    -fx-text-fill: #7E8A95;
}

.book-display {
    -fx-background-color: transparent;
    -fx-padding: 40 0 0 0;
}