/*
Color palette:
Background: #F4F6FA
Option labels and icon color: #7E8A95
Search bar background: #E5E9F0
Search bar foreground: #CFD5DB
 */
.below-navbar {
    -fx-background-color: #F4F6FA;
    -fx-padding: 0 20 0 20;
}