/* Sidebar styling */
.sidebar {
    -fx-padding: 20 0 20 0;
    -fx-background-color: transparent;
    -fx-border-width: 0 2 0 0;
    -fx-border-color: #AEBACE4D;
}

.sidebar-option {
    -fx-background-radius: 15;
    -fx-background-color: transparent;
    -fx-text-fill: #7E8A95;
    -fx-font-size: 30;
    -fx-font-family: 'Varela Round';
}

.sidebar-option:hover {
    -fx-background-color: #E5E9F0;
    -fx-cursor: hand;
}

.sidebar-icon {
    -fx-font-family: 'FontAwesome';
    -fx-font-size: 35;
    -fx-text-fill: #7E8A95;
}