.discover-main {
    -fx-spacing: 5;
    -fx-background-color: #3f4957;
    -fx-background-radius: 15 15 0 0;
    -fx-padding: 50 0 0 15;
}

.category-chooser {
    -fx-background-color: transparent;
}

.category-header {
    -fx-font-family: "Segoe UI Variable";
    -fx-font-size: 25;
    -fx-text-fill: #D8DEE9;
}

.category-option {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI Variable";
    -fx-font-size: 20;
    -fx-text-fill: #D8DEE9CC;
}

.category-option:hover {
    -fx-text-fill: #88C0D0CC;
    -fx-cursor: hand;
}

.separator {
    -fx-padding: 20 0 0 0;
    -fx-fill: #D8DEE94D;
    -fx-background-color: transparent;
    -fx-pref-height: 2000;
}

.books-counter {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI Variable";
    -fx-font-size: 15;
    -fx-text-fill: #D8DEE9CC;
}

.book-display {
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
    -fx-background-color: transparent;
    -fx-background-radius: 15;
}