.login-menu {
    -fx-alignment: top-center;
    -fx-background-color: #2E3440;
    -fx-pref-width: 600;
    -fx-pref-height: 800;
    -fx-padding: 50 60 70 60;
    -fx-spacing: 40;
}

.user-icon {
    -fx-background-color: transparent;
}

.textbox-label {
    -fx-label-padding: 0 0 0 10;
    -fx-text-fill: #D8DEE9;
    -fx-background-color: transparent;
    -fx-font-size: 24;
    -fx-font-family: "Segoe UI Variable";
}

.input-field {
    -fx-pref-width: 480;
    -fx-pref-height: 90;
    -fx-background-radius: 20;
    -fx-background-color: #d8dee9;
    -fx-text-fill: black;
    -fx-font-family: "Segoe UI Variable";
    -fx-font-size: 22;
}

.login-button {
    -fx-pref-width: 230;
    -fx-pref-height: 80;
    -fx-background-color: #81a1c1;
    -fx-background-radius: 15;
    -fx-border-width: 2;
    -fx-border-color: #d8dee9;
    -fx-border-radius: 15;
    -fx-text-fill: #d8dee9;
    -fx-font-family: "Segoe UI Variable";
    -fx-font-size: 30;
}

.login-button:hover {
    -fx-background-color: #5E81AC;
    -fx-cursor: hand;
}

.register-button {
    -fx-alignment: center;
    -fx-pref-width: 200;
    -fx-pref-height: 30;
    -fx-background-color: transparent;
    -fx-text-fill: #d8dee9;
    -fx-font-family: "Segoe UI Variable";
    -fx-font-size: 24;
}

.register-button:hover {
    -fx-text-fill: #81a1c1;
    -fx-cursor: hand;
}