/*
Color palette:
Background: #F4F6FA
Option labels and icon color: #7E8A95
Search bar background: #E5E9F0
Search bar foreground: #CFD5DB
 */

/* Style for the navigation bar */
.nav-bar {
    -fx-pref-width: 100%;
    -fx-pref-height: 10%;
    -fx-background-color: #F4F6FA;
    -fx-spacing: 10;
    -fx-padding: 20 20 20 50;
    -fx-alignment: center-left;
}

/* Search bar */
.search-bar {
    -fx-padding: 0 20 0 20;
    -fx-alignment: center-left;
    -fx-background-color: #E5E9F0;
    -fx-background-radius: 50;
}

.search-icon {
    -fx-font-family: FontAwesome;
    -fx-font-size: 30;
    -fx-text-fill: #7E8A95;
}

.search-text {
    -fx-background-color: transparent;
    -fx-prompt-text-fill: #CFD5DB;
    -fx-text-fill: #7E8A95;
    -fx-font-family: 'Varela Round';
    -fx-font-size: 30;
}

/* Notification and profile buttons */
.notification-button {
    -fx-background-color: transparent;
    -fx-background-radius: 50;
}

.notification-icon {
    -fx-font-family: 'FontAwesome';
    -fx-font-size: 30;
    -fx-text-fill: #7E8A95;
}

.profile-button {
    -fx-background-color: transparent;
    -fx-background-radius: 50;
}

.below-navbar {
    -fx-background-color: #F4F6FA;
    -fx-padding: 0 20 0 50;
}

/* Sidebar styling */
.sidebar {
    -fx-padding: 20 0 20 0;
    -fx-background-color: transparent;
    -fx-alignment: top-center;
}

.sidebar-text {
    -fx-padding: 5 0 0 0;
    -fx-font-family: 'Varela Round';
    -fx-font-size: 30;
    -fx-text-fill: #7E8A95;
}

.sidebar-icon {
    -fx-font-family: 'FontAwesome';
    -fx-font-size: 35;
    -fx-text-fill: #7E8A95;
}