.nav-bar {
    -fx-background-color: #2E3440;
    -fx-spacing: 10;
    -fx-padding: 20 20 20 50;
    -fx-alignment: center-left;
}

/* Search bar */
.search-bar {
    -fx-padding: 0 20 0 20;
    -fx-alignment: center-left;
    -fx-background-color: #434C5E;
    -fx-background-radius: 50;
}

.search-text {
    -fx-pref-width: 500;
    -fx-background-color: transparent;
    -fx-prompt-text-fill: #D8DEE94D;
    -fx-text-fill: #D8DEE9;
    -fx-font-family: 'Segoe UI Variable';
    -fx-font-size: 30;
}

/* Notification and profile buttons */
.notification-button {
    -fx-background-color: transparent;
    -fx-background-radius: 50;
}

.notification-button:hover {
    -fx-background-color: #434C5E;
    -fx-cursor: hand;
}

.profile-button {
    -fx-background-color: transparent;
    -fx-background-radius: 50;
}

.profile-button:hover {
    -fx-background-color: #434C5E;
    -fx-cursor: hand;
}