.main {
    -fx-background-color: white;
}

.welcome-text {
    -fx-pref-width: infinity;
    -fx-pref-height: 40;
    -fx-padding: 20 0 20 20;
    -fx-font-size: 30;
    -fx-font-family: "Segoe UI Variable";
    -fx-text-fill: #3A4151;
}

.content {
    -fx-spacing: 30;
    -fx-pref-columns: 4;
    -fx-alignment: center;
    -fx-padding: 25 30 25 30;
}

.dashboard-tile {
    -fx-background-color: #71a898;
    -fx-pref-width: 160;
    -fx-pref-height: 160;
    -fx-background-radius: 15;
    -fx-alignment: center;
    -fx-padding: 10;
}

.dashboard-tile-number {
    -fx-font-size: 48;
    -fx-text-fill: #D8DEE8;
}

.dashboard-tile-text {
    -fx-font-size: 20;
    -fx-text-fill: #D8DEE8;
}

.book-display {
    -fx-background-color: #80A0C0;
    -fx-padding: 40 40 40 40;
}

.book-display-box {
    -fx-background-color: #D8DEE8;
    -fx-background-radius: 15;
    -fx-padding: 20 20 20 20;
    -fx-spacing: 60;
}

.book-image-view {
    -fx-effect: dropshadow(gaussian, #2E343F, 15, 0, 5, 5);
    -fx-border-width: 2;
    -fx-border-color: #D8DEE8;
    -fx-background-color: #EBEEF4;
    -fx-padding: 5;
}