.sidebar {
    -fx-padding: 25 0 25 0;
    -fx-spacing: 25;
    -fx-background-color: #4893DB;
}

.sidebar-button {
    -fx-pref-width: 48;
    -fx-pref-height: 48;
    -fx-background-radius: 50;
    -fx-background-color: transparent;
}

.sidebar-button:hover {
    -fx-background-color: #80A0C0;
    -fx-cursor: hand;
}