.container {
    -fx-background-color: #EBEEF4;
    -fx-background-radius: 10;
    -fx-padding: 20 20 20 20;
    -fx-spacing: 20;
    -fx-effect: dropshadow(gaussian, rgba(46, 52, 63, 0.3), 15, 0, 5, 5);
}

.header {
    -fx-alignment: center;
    -fx-pref-height: 50;
    -fx-padding: 10 10 10 10;
    -fx-text-fill: #3A4151;
    -fx-font-family:"Segoe UI Variable";
    -fx-font-size: 30;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #3A4151;
    -fx-background-color: transparent;
}

.document-info {
    -fx-background-color: transparent;
    -fx-spacing: 20;
    -fx-padding: 10 10 10 10;
}

.text-field-container {
    -fx-alignment: center-left;
    -fx-pref-width: 300;
}

.text-field {
    -fx-pref-width: 300;
    -fx-pref-height: 60;
    -fx-effect: dropshadow(gaussian, rgba(46, 52, 63, 0.3), 15, 0, 5, 5);
    -fx-background-radius: 10;
    -fx-background-color: #EBEEF4;
    -fx-prompt-text-fill: rgba(66, 76, 94, 0.7);
    -fx-font-size: 20;
    -fx-font-family: "Segoe UI Variable";
}

.cover-image-and-pdf-vbox {
    -fx-background-color: transparent;
}

.pdf-chooser-button {
    -fx-background-color: #80A0C0;
}

.pdf-chooser-button:hover {
    -fx-background-color: #5E80AB;
}

.pdf-chooser-button-label {
    -fx-font-family: "Segoe UI Variable";
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: #d8dee9;
}

.chose-pdf-info {
    -fx-font-family: "Segoe UI Variable";
    -fx-font-size: 15;
    -fx-text-fill: #3A4151;
}

.document-description {
    -fx-wrap-text: true;
    -fx-effect: dropshadow(gaussian, rgba(46, 52, 63, 0.3), 15, 0, 5, 5);
    -fx-background-radius: 15;
    -fx-prompt-text-fill: rgba(66, 76, 94, 0.7);
    -fx-font-size: 20;
    -fx-font-family: "Segoe UI Variable";
}

.buttons-container {
    -fx-background-color: transparent;
    -fx-spacing: 20;
    -fx-alignment: center-right;
}

.button {
    -fx-pref-width: 100;
    -fx-pref-height: 50;
    -fx-background-color: #80A0C0;
    -fx-background-radius: 15;
}

.button:hover {
    -fx-background-color: #5E80AB;
    -fx-cursor: hand;
}

.button-label {
    -fx-font-size: 25;
    -fx-text-fill: #E4E8F0;
    -fx-font-family: "Segoe UI Variable";
}